html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #1a1a1a; 
}

h1{
	text-align: center;
}
h2{
	text-align: center;
	font-size: 20px;
}
a {
  color: #d11f00;
}

a:hover {
  color: #f11f10;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #353535;
}

.section-2 {
	background-color: #252525;
}



.section-4 {
	background-color: #090b0c;
	padding: 0.2rem;
}

a.nav-item {
	color: #b31818;
}

a.nav-item:hover {
	color: rgb(230, 48, 48);
}

.blender{
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 500px;
	max-width: 500px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(109, 25, 10, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}
p{
	margin-bottom: 1rem;
}
.project-1{
	padding: 2px;
	background-color: #252525;
	border: 3px solid rgba(109, 25, 10, 0.5);
	color: white;
}
.project-2{
	padding: 2px;
	background-color: #252525;
	border: 3px solid rgba(109, 25, 10, 0.5);
	color: white;
}
@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #181818;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #b31818;
	}

	.nav-toggle span:hover {
		background-color: #b31818;
	}

}
